Teacher Grade Uploading and Viewing Criteria(2a)/LAB PROJECT/Grade Uploading and Viewing Criteria/Web References/localhost/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8017/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8017/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8017/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Grade_Uploading_and_viewing_Criteria" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_IsAlreadyExist_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlreadyExist" />
  </wsdl:message>
  <wsdl:message name="IService1_IsAlreadyExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAlreadyExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterStd_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStd" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterStd_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterStdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_RegisterTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsLoginTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:IsLoginTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_IsLoginTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsLoginTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:TeacherLogout" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:TeacherLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StudentLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:StudentLogout" />
  </wsdl:message>
  <wsdl:message name="IService1_StudentLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudentLogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidUser_InputMessage">
    <wsdl:part name="parameters" element="tns:isValidUser" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsTeacherAlreadyExists_InputMessage">
    <wsdl:part name="parameters" element="tns:IsTeacherAlreadyExists" />
  </wsdl:message>
  <wsdl:message name="IService1_IsTeacherAlreadyExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsTeacherAlreadyExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidReset_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidReset" />
  </wsdl:message>
  <wsdl:message name="IService1_ValidReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidResetResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecord" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_resetPass_InputMessage">
    <wsdl:part name="parameters" element="tns:resetPass" />
  </wsdl:message>
  <wsdl:message name="IService1_resetPass_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetPassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPasswordTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_SetPasswordTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_resetPassTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:resetPassTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_resetPassTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetPassTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:isValidSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_AddSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_IsSubjectAlreadyExist_InputMessage">
    <wsdl:part name="parameters" element="tns:IsSubjectAlreadyExist" />
  </wsdl:message>
  <wsdl:message name="IService1_IsSubjectAlreadyExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsSubjectAlreadyExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isTeacherSubAlreadyExist_InputMessage">
    <wsdl:part name="parameters" element="tns:isTeacherSubAlreadyExist" />
  </wsdl:message>
  <wsdl:message name="IService1_isTeacherSubAlreadyExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:isTeacherSubAlreadyExistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTeacherRegisteredSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherRegisteredSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_AddTeacherRegisteredSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeacherRegisteredSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_showSubjects_InputMessage">
    <wsdl:part name="parameters" element="tns:showSubjects" />
  </wsdl:message>
  <wsdl:message name="IService1_showSubjects_OutputMessage">
    <wsdl:part name="parameters" element="tns:showSubjectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherShowSubject_InputMessage">
    <wsdl:part name="parameters" element="tns:TeacherShowSubject" />
  </wsdl:message>
  <wsdl:message name="IService1_TeacherShowSubject_OutputMessage">
    <wsdl:part name="parameters" element="tns:TeacherShowSubjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidTeacher_InputMessage">
    <wsdl:part name="parameters" element="tns:isValidTeacher" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidTeacher_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidTeacherResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:isValidStudent" />
  </wsdl:message>
  <wsdl:message name="IService1_isValidStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidStudentResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="IsAlreadyExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsAlreadyExist" message="tns:IService1_IsAlreadyExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsAlreadyExistResponse" message="tns:IService1_IsAlreadyExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterStd">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterStd" message="tns:IService1_RegisterStd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterStdResponse" message="tns:IService1_RegisterStd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RegisterTeacher" message="tns:IService1_RegisterTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterTeacherResponse" message="tns:IService1_RegisterTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsLoginTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsLoginTeacher" message="tns:IService1_IsLoginTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsLoginTeacherResponse" message="tns:IService1_IsLoginTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TeacherLogout">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TeacherLogout" message="tns:IService1_TeacherLogout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TeacherLogoutResponse" message="tns:IService1_TeacherLogout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StudentLogout">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StudentLogout" message="tns:IService1_StudentLogout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StudentLogoutResponse" message="tns:IService1_StudentLogout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isValidUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isValidUser" message="tns:IService1_isValidUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isValidUserResponse" message="tns:IService1_isValidUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsTeacherAlreadyExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsTeacherAlreadyExists" message="tns:IService1_IsTeacherAlreadyExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsTeacherAlreadyExistsResponse" message="tns:IService1_IsTeacherAlreadyExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ValidReset" message="tns:IService1_ValidReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ValidResetResponse" message="tns:IService1_ValidReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetPassword" message="tns:IService1_SetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetPasswordResponse" message="tns:IService1_SetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteRecord" message="tns:IService1_DeleteRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteRecordResponse" message="tns:IService1_DeleteRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetPass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/resetPass" message="tns:IService1_resetPass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetPassResponse" message="tns:IService1_resetPass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPasswordTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetPasswordTeacher" message="tns:IService1_SetPasswordTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetPasswordTeacherResponse" message="tns:IService1_SetPasswordTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetPassTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/resetPassTeacher" message="tns:IService1_resetPassTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetPassTeacherResponse" message="tns:IService1_resetPassTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isValidSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isValidSubject" message="tns:IService1_isValidSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isValidSubjectResponse" message="tns:IService1_isValidSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddSubject" message="tns:IService1_AddSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddSubjectResponse" message="tns:IService1_AddSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsSubjectAlreadyExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/IsSubjectAlreadyExist" message="tns:IService1_IsSubjectAlreadyExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IsSubjectAlreadyExistResponse" message="tns:IService1_IsSubjectAlreadyExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isTeacherSubAlreadyExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isTeacherSubAlreadyExist" message="tns:IService1_isTeacherSubAlreadyExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isTeacherSubAlreadyExistResponse" message="tns:IService1_isTeacherSubAlreadyExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTeacherRegisteredSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddTeacherRegisteredSubject" message="tns:IService1_AddTeacherRegisteredSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddTeacherRegisteredSubjectResponse" message="tns:IService1_AddTeacherRegisteredSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="showSubjects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/showSubjects" message="tns:IService1_showSubjects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/showSubjectsResponse" message="tns:IService1_showSubjects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TeacherShowSubject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TeacherShowSubject" message="tns:IService1_TeacherShowSubject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TeacherShowSubjectResponse" message="tns:IService1_TeacherShowSubject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isValidTeacher">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isValidTeacher" message="tns:IService1_isValidTeacher_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isValidTeacherResponse" message="tns:IService1_isValidTeacher_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isValidStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isValidStudent" message="tns:IService1_isValidStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isValidStudentResponse" message="tns:IService1_isValidStudent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlreadyExist">
      <soap:operation soapAction="http://tempuri.org/IService1/IsAlreadyExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterStd">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterStd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/RegisterTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsLoginTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/IsLoginTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeacherLogout">
      <soap:operation soapAction="http://tempuri.org/IService1/TeacherLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentLogout">
      <soap:operation soapAction="http://tempuri.org/IService1/StudentLogout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidUser">
      <soap:operation soapAction="http://tempuri.org/IService1/isValidUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsTeacherAlreadyExists">
      <soap:operation soapAction="http://tempuri.org/IService1/IsTeacherAlreadyExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidReset">
      <soap:operation soapAction="http://tempuri.org/IService1/ValidReset" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap:operation soapAction="http://tempuri.org/IService1/SetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecord">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPass">
      <soap:operation soapAction="http://tempuri.org/IService1/resetPass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPasswordTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/SetPasswordTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetPassTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/resetPassTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/isValidSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/AddSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsSubjectAlreadyExist">
      <soap:operation soapAction="http://tempuri.org/IService1/IsSubjectAlreadyExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isTeacherSubAlreadyExist">
      <soap:operation soapAction="http://tempuri.org/IService1/isTeacherSubAlreadyExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTeacherRegisteredSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/AddTeacherRegisteredSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="showSubjects">
      <soap:operation soapAction="http://tempuri.org/IService1/showSubjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TeacherShowSubject">
      <soap:operation soapAction="http://tempuri.org/IService1/TeacherShowSubject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidTeacher">
      <soap:operation soapAction="http://tempuri.org/IService1/isValidTeacher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isValidStudent">
      <soap:operation soapAction="http://tempuri.org/IService1/isValidStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8017/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>