Teacher Grade Uploading and Viewing Criteria(2a)/LAB PROJECT/Grade Uploading and Viewing Criteria/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Grade_Uploading_and_viewing_Criteria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Grade_Uploading_and_viewing_Criteria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfSUBJECT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SUBJECT" nillable="true" type="tns:SUBJECT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSUBJECT" nillable="true" type="tns:ArrayOfSUBJECT" />
  <xs:complexType name="SUBJECT">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreditHours1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectCode1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SUBJECT" nillable="true" type="tns:SUBJECT" />
  <xs:complexType name="ArrayOfDMC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DMC" nillable="true" type="tns:DMC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDMC" nillable="true" type="tns:ArrayOfDMC" />
  <xs:complexType name="DMC">
    <xs:sequence>
      <xs:element minOccurs="0" name="Grade" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeacherName1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DMC" nillable="true" type="tns:DMC" />
  <xs:complexType name="ArrayOfReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Report" nillable="true" type="tns:Report" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReport" nillable="true" type="tns:ArrayOfReport" />
  <xs:complexType name="Report">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttendencePercentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BehavioreReport" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeacherName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Report" nillable="true" type="tns:Report" />
</xs:schema>